/* reset everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

/* prevent iOS font size change */
html {
  -webkit-text-size-adjust: 100%;
}

/* reset body line-height */
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

/* all media elements set to block and full width */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

/* inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

/* collapse table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* assign button hover state */
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* reset anchor style */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* reset heading style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* reset list style */
ol,
ul {
  list-style: none;
}

/* reset text input style */
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

/* reset firefox placeholder opacity */
::-moz-placeholder {
  opacity: 1;
}

/* reset textarea style */
textarea {
  vertical-align: top;
  overflow: auto;
}

/* reset checkbox and radio style */
[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0;
  }
}

/* remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/****************************************************************************************************************************  */

/* colors */

:root {
  --light-black: #333333;
  --black: #1e1e1e;
  --light-white: #f3f3f3;
  --white: #e9e9e9;
  --light-purple: #ad00ff;
  --light-green: #86ffcc;
}

.important {
  background-color: var(--light-green) !important;
}
.important .important-btn {
  color: var(--light-purple);
}
.complete {
  color: var(--black) !important;
  text-decoration: line-through;
  background-color: var(--light-black) !important;
}
.complete .check-btn {
  color: var(--light-purple);
}
body {
  background-color: var(--light-black);
}
main {
  background-color: var(--white);
}
footer {
  background-color: var(--white);
}

a {
  color: var(--light-black);
}
html,
body {
  color: var(--light-black) !important;
}
.header {
  color: var(--light-white);
}
.burger-btn {
  color: var(--light-white);
}
button {
  background-color: inherit;
}
button:active {
  color: var(--light-purple);
}
input {
  border: 1px solid grey;
}
.tab {
  background-color: var(--white);
}

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,900;1,9..144,400;1,9..144,900&family=Inter:wght@300;400;700;800&display=swap");
html,
body {
  font-family: "Inter", sans-serif;
}
.brandname {
  font-weight: 900;
}
h1 {
  font-weight: 600;
  font-size: 1.5rem;
}
.info {
  font-size: 12px;
}

/*layout*/
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
main {
  display: grid;
  padding: 24px;
  gap: 24px;
  grid-template-columns: calc(3 / 12 * 100%) 1fr;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
aside {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 12px;
  @media (width: 1024px) {
    display: none;
  }
}
.hidden {
  display: none;
}
.container {
  width: 100%;
}
.projects-menu,
.info {
  padding: 12px 0px 0px 6px;
}
.projects-menu p:first-child {
  padding-bottom: 6px;
}
.list-item {
  display: flex;
  justify-content: space-between;
}
.new-projects-window {
  display: flex;
  padding: 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

[class^="box-new-"] {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  padding: 24px;
  background-color: var(--white);
  width: 100%;
  box-sizing: border-box;
}
.box-wrapper {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}
.box-header {
  display: flex;
  justify-content: space-between;
}
.box-body {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.new-tasks-window {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  padding: 6px;
  margin-bottom: 36px;
  @media (max-width: 1024px) {
    grid-template-columns: 100%; /* Set to 100% on mobile */
  }
}
[class*="-window"] {
  margin-top: 24px;
}

.tasks > * {
  margin-top: -24px;
}

input {
  background-color: inherit;
  padding: 0.5rem;
  box-sizing: border-box;
}
.tab {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 12px;
  padding: 24px;
}
.tab .tab-content-field:last-child {
  grid-column: 1 / span 3; /* Make the description span the second column and take up the remaining space */
}
.tab > .date {
  text-align: end;
}
.tab > .settings {
  display: flex;
  align-items: flex-start;
}
.tab > .settings > * {
  margin-left: 6px;
}
.tab > .description {
  padding-bottom: 24px;
}
.important-question {
  display: flex;
  justify-content: space-between;
}
.submit {
  display: flex;
  justify-content: end;
}
.submit > button {
  margin-top: 1rem;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
input {
  width: 100%;
}
input[type="radio"] {
  width: auto;
}
button {
  cursor: pointer;
}

#backdrop {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  z-index: 2;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
}
#editModalForm {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: none;
}

#editModalForm > .box-new-task {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(4 / 12 * 100%);
  box-sizing: border-box;
  @media (max-width: 1024px) {
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

.burger-btn {
  font-size: 2rem;
}

/* shadows */
.tab,
[class^="box-new-"] {
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
}

/* borders */
main {
  border-radius: 24px 24px 0px 0px;
}
.tab {
  border-radius: 12px 12px 0px 0px;
}
.tab:last-child {
  border-radius: 12px;
}
button {
  border: 0;
}
aside {
  border-right: 1px dashed grey;
  @media (max-width: 1024px) {
    border: none;
    border-bottom: 1px dashed grey;
  }
}
[class^="box-new-"],
[class*="-window"] {
  border-radius: 12px;
}
/* other */
li.tab.important > .title::before {
  content: "! ";
}
